
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
    div{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .open-menu{
      width: 2rem;
    }
    button{
      border: 0;
    }
    .nav-list{
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      li{
        a{
          text-decoration: none;
          color: white;
        }
      }
    }
  }